/*

RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*

GENERAL

*/

.my-row{
    display: flex;
    flex-wrap: wrap;
}


.my-row-main-1{
    display: flex;
    flex-wrap: wrap;
}



.my-row-main-2{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}



.container{
    max-width: 1200px;
    margin: 0 auto;
}





/*

Header

*/






/*

Main

*/







/*

Footer

*/




/*

Debug

*/

.debug header .header-top{
    background-color: brown;
    outline: 3px dashed black;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
}


.debug header .header-top .my-row .col-1{
    background-color: aquamarine;
    outline: 3px dashed black;
    width: calc(100% / 2);
    height: 70px;
}

.debug header .header-top .my-row .col-2{
    background-color: rgb(63, 146, 177);
    outline: 3px dashed black;
    width: calc(100% / 2);
    height: 70px;
    align-self: flex-end;
    display: flex;
}


.debug header .header-bottom{
    outline: 3px dashed black;
    background-color: greenyellow;
    width: 100%;
    height: 650px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 50px;
}


.title-header-bottom{
    position: relative;
}

.title{
    position: absolute;
    top: 130px;
    left: 300px;
}



.debug header .header-bottom .my-row .col-3{
    background-color: rgb(163, 113, 44);
    outline: 3px dashed black;
    width: 350px;
    height: 325px;
}


.debug header .header-bottom .my-row .col-4{
    background-color: rgb(165, 71, 142);
    outline: 3px dashed black;
    width: 500px;
    height: 325px;
}


.debug main section .main-header{
    display: flex;
    width: 1100px;
    height: 70px;
    margin: 0 auto;
    align-items: center;
}


.debug main section .paying-metods{
    margin-bottom: 50px;
}

.debug main section .container .my-row-main-1{
    width: 1100px;
    height: 70px;
    background-color: antiquewhite;
    outline: 3px dashed black;
    margin: 0 auto;
}

.debug main section .main-subscription{
    background-color: rgb(173, 66, 68);
    outline: 3px dashed black;
    width: 1100px;
    height: 1150px;
    margin: 0 auto;
}



.debug main section .container .my-row-main-2{
    width: 100%;
    height: 100%;
    outline: 3px dashed black;
}

.debug main section .container .my-row-main-2 .main-col-1_3 .col-header{
    height: 50px;
    outline: 3px dashed black;
    background-color: aqua;
}



.debug main section .container .my-row-main-2 .main-col-1_3{
    width: calc((100% / 3) - 30px);
    align-self: stretch;
    outline: 3px dashed black;
    background-color: lightcoral;
}


.debug main section .prices .my-row-main-1{
    width: 1100px;
    height: 450px;
    background-color: rgb(193, 119, 23);
    outline: 3px dashed black;
    margin-top: 50px;
    
}


.debug main section .prices .my-row-main-1 .col-header{
    height: 50px;
    width: 100%;
    outline: 3px dashed black;
    background-color: aqua;
}


.debug main .partners{
    display: flex;
    align-items:flex-end ;
    justify-content:center ;
    margin-top: 150px;
}



.debug main .partners .my-row .col-3{
    background-color: rgb(163, 113, 44);
    outline: 3px dashed black;
    width: 350px;
    height: 325px;
}


.debug main .partners .my-row .col-4{
    background-color: rgb(165, 71, 142);
    outline: 3px dashed black;
    width: 500px;
    height: 325px;
}


.debug main section .operations{
    background-color: yellowgreen;
    width: 1050px;
    height: 843px;
    outline: 3px dashed black;
    margin-top: 130px;
    margin-bottom: 35px;

}

.debug main section .operations .columns{
    gap: 20px;
    margin-top: 35px;
}

.text-box{
    text-align:center;
    padding: 30px;
}

.debug main section .operations .col-1_6{
    outline: 3px dashed white;
    background-color: black;
    width: calc((1050px / 3) - 20px);
    height: 380px;
}

.debug .team-members{
    max-width: 100%;
    height:600px;
    outline: 3px dashed black;
    background-color: orange;
}


.main-col-1_3{
    width: calc(100% / 3);
    align-self: stretch;
    outline: 3px dashed black;
    background-color: skyblue;
    display: flex;
    flex-wrap: wrap;
}

.small-col{
    width: calc(100% / 2);
    height:300px;
    outline: 3px dashed black;
    background-color: rgb(165, 71, 142);
}

.free-trial{
    max-width: 100%;
    height: 320px;
    background-color: rgb(173, 66, 68);
    outline: 3px dashed black;
    justify-content: space-around;
    align-content: center;
}

.Q_A{
    height: 400px;
    background-color: rgb(111, 184, 184);
    padding: 100px;
    outline: 3px dashed black;
    margin-bottom: 35px;
}

p{
    margin: 30px;
}

.debug footer .col-1_7{
    width: calc(100% / 7);
    height:340px ;
    outline: 3px dashed black;
    background-color: antiquewhite;
}

.debug footer .footer-menu{
    background-color: rgb(105, 32, 105);
    outline: 3px dashed black;  
    height:400px;
    justify-content: space-around;
    padding: 0 200px;
}   

footer{
    background-color: greenyellow;

}

.lingua{
    text-align: center
}

hr{
    border-top: 3px solid black;
}